body {
  background-color: white;
}

.jumbotron {
  background: url('../images/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0;
  width: 100vw;
}

.blur {
  width: 100vw;
  height: 40rem;
  /* box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2); */
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  margin-bottom: 0;
  min-height: 100%; /* for browsers that don't support vh */
  min-height: 100vh;
  align-items: center;
}

.wrap {
  min-width: 350px;
}

/* for content inside the blur that needs centuring */
.vertical-center {
  min-height: 100%; /* for browsers that don't support vh */
  min-height: 100vh;
  display: flex;
  align-items: center;
}

/* for tables (expenses.html, overview.html) */
.budget-data {
  max-width: 50vw;
}

.test {
  width: 90vw;
}

/* icons */
i {
  cursor: pointer;
}

.icon-blue:hover {
  color: blue;
}

.icon-red:hover {
  color: red;
}

.text-red {
  color: #ff6565;
}

.text-green {
  color: #2ab664;
}

.dashboard-card {
  min-height: 15rem;
}
