body {
  background-color: #fff;
}

.jumbotron {
  background: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.blur {
  width: 100vw;
  height: 40rem;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}

.form {
  border-radius: 5px;
  min-width: 350px;
}

.vertical-center {
  min-height: 100%; /* for browsers that don't support vh */
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#table {
  max-width: 1000px;
}
