body {
  background-color: white;
}

.jumbotron {
  background: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0;
}

.blur {
  width: 100vw;
  height: 40rem;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  margin-bottom: 0;
}

.form {
  border-radius: 5px;
  min-width: 350px;
}

.vertical-center {
  min-height: 100%; /* for browsers that don't support vh */
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.table {
  min-height: 100%; /* for browsers that don't support vh */
  min-height: 100vh;
  align-items: center;
}

#table {
  max-width: 1000px;
}

i {
  cursor: pointer;
}

.icon-blue:hover {
  color: blue;
}

.icon-red:hover {
  color: red;
}

/* nav {
  border: 1px solid red;
}

footer {
  border: 1px solid red;
} */
